.contact-item {
    margin-bottom: 0.5rem;
}

.contact-item .icon {
    height: 1rem;
    vertical-align: middle;
    margin-right: 0.5rem;
}

.cv-wrapper {
    display: flex;
    gap: 2rem;
    width: 100%;
}

.cv-left {
    flex: 0 0 70%;
}

.cv-right {
    flex: 0 0 30%;
}

